package Worlds
{
	import net.flashpunk.World;
	
	/**
	$(CBI)* ...
	$(CBI)* @author $(DefaultUser)
	$(CBI)*/
	public class MainWorld extends World 
	{
		
		public function MainWorld() 
		{
			
		}
		
	}

}